.hero {
  text-align: center;
  padding-bottom: 5em;
  .copy {
    margin-bottom: 2.5em;
  }
  &__image {
    height: 300px;
    //put two images one on other whit the three next properties separate for comma
    background: url("../../stattic/images/image-mockups.png") center bottom
        no-repeat,
      url("../../stattic/images/bg-intro-mobile.svg") center no-repeat;
    //define sizes of images whit the next properties separate for comma
    background-size: 345px, cover;
    margin: 0 calc(var(--wrapper-space) * -1);
    margin-bottom: 1.2em;
  }
}
